/* USER VARIABLES SECTION */

:root {
	--accent: #b41f26;

	--accent-light: #b41f26;
	--accent-dark: rgba(98, 0, 5, 0.96);

	--gutter: 20px;
	--text: #000;
	--dark: #383b3f;
	--deep: #202328;
	--dark-header: #6f7a8b;
	--dark-div: #2d3038;
	--light-bg: #fafafa;
	--light-disabled: #e4e6e8;
	--light-div: #e7e7e8;
	--middle-gray: rgba(111, 122, 139, 0.75);
	--text-light: #999999;
	--regular-text: 16px;
	--small-text: 14px;
	--middle-header: 18px;
	--lineheight: 1.75;
	--userfont: raleway-wt, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
	--radius: 5px;
	--radius-style: 0 5px;
	--transition: 0.25s ease-out;
	--address: #989da5;
}

/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
	--bs-gutter-x: 0.625rem;
}
.row,
.row > * {
	--bs-gutter-x: 1.25rem;
}

/* FONTS LOAD SECTION */

@font-face {
	src: url('../fonts/raleway/raleway-v22-cyrillic-300.woff2') format('woff2');
	font-family: 'raleway-wt';
	font-weight: 300;
	font-style: normal;
}
@font-face {
	src: url('../fonts/raleway/raleway-v22-cyrillic-500.woff2') format('woff2');
	font-family: 'raleway-wt';
	font-weight: 500;
	font-style: normal;
}
@font-face {
	src: url('../fonts/raleway/raleway-v22-cyrillic-600.woff2') format('woff2');
	font-family: 'raleway-wt';
	font-weight: 600;
	font-style: normal;
}
@font-face {
	src: url('../fonts/raleway/raleway-v22-cyrillic-700.woff2') format('woff2');
	font-family: 'raleway-wt';
	font-weight: 700;
	font-style: normal;
}
@font-face {
	src: url('../fonts/raleway/raleway-v22-cyrillic-800.woff2') format('woff2');
	font-family: 'raleway-wt';
	font-weight: 800;
	font-style: normal;
}
@font-face {
	src: url('../fonts/raleway/raleway-v22-cyrillic-900.woff2') format('woff2');
	font-family: 'raleway-wt';
	font-weight: 900;
	font-style: normal;
}
@font-face {
	src: url('../fonts/raleway/raleway-v22-cyrillic-regular.woff2')
		format('woff2');
	font-family: 'raleway-wt';
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url('../fonts/roboto/roboto-v29-cyrillic-300.woff2') format('woff2');
	font-family: 'roboto-wt';
	font-weight: 300;
	font-style: normal;
}
@font-face {
	src: url('../fonts/roboto/roboto-v29-cyrillic-500.woff2') format('woff2');
	font-family: 'roboto-wt';
	font-weight: 500;
	font-style: normal;
}
@font-face {
	src: url('../fonts/roboto/roboto-v29-cyrillic-700.woff2') format('woff2');
	font-family: 'roboto-wt';
	font-weight: 700;
	font-style: normal;
}

/* GENERAL CSS SETTINGS */

::placeholder {
	color: #666;
}
::selection {
	background-color: var(--accent);
	color: #fff;
}
input,
textarea {
	outline: none;
}
input:focus:required:invalid,
textarea:focus:required:invalid {
	border-color: red;
}
input:required:valid,
textarea:required:valid {
	border-color: green;
}

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}

/* BUTTON */

.button {
	outline: none;
	border: none;
	background-color: var(--accent);
	color: #fff;
	border-radius: var(--radius-style);
	display: inline-block;
	padding: 10px 28px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	position: relative;
	letter-spacing: 0.25px;
	text-decoration: none;
}
.button:hover {
	color: #fff;
	text-decoration: none;
	background-color: var(--accent-light);
}
.button:active {
	background-color: var(--accent-dark);
}

/* NAVBAR */

.navbar {
	position: absolute;
	top: 0;
	z-index: 1000;
	padding-top: 43px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
	left: 50px;
	right: 50px;
}

.logo {
	font-size: 17px;
	white-space: nowrap;
	line-height: 1.3;
}
.logo__link {
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.75px;
	text-decoration: none;
}
.logo-img {
	position: relative;
	bottom: 20px;
}

.top-menu {
	margin: 0;
	padding: 0;
	text-align: center;
	transition: opacity var(--transition), visibility var(--transition);
}
.top-menu__item {
	padding: 0;
	list-style-type: none;
	display: inline-block;
	margin: 0 5px;
}
.top-menu__link {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	padding: 7.5px 16px;
	border-radius: var(--radius-style);
	transition: background var(--transition);
}
.top-menu__link:hover,
.top-menu__link:focus,
span.top-menu__link {
	color: #fff;
	background-color: rgba(196, 196, 196, 0.2);
}
.menu-container {
	position: relative;
}
.menu-toggle {
	width: 22px;
	height: 22px;
	background-image: url(../images/interface/menu-white.svg);
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	top: 3px;
	display: none;
	right: 0;
}
.menu-toggle_active {
	background-image: url(../images/interface/x.svg);
}
.menu-toggle-light {
	background-image: url(../images/interface/menu-dark.svg);
}
.top-menu.top-menu_active {
	visibility: visible;
	opacity: 1;
}

.nav-social-wrap {
	text-align: right;
}
.nav-social {
	background-color: rgba(196, 196, 196, 0.2);
	border-radius: 10em;
	display: inline-block;
	padding: 2px 13px 3px;
}
.nav-social__item {
	display: inline-block;
	margin: 0 3px;
}
.nav-social__item img {
	width: 100%;
	max-height: 16.5px;
	max-width: 20px;
	opacity: 0.75;
	transition: opacity var(--transition);
}
.nav-social__item:hover img {
	opacity: 1;
}

/* LIGHT NAVBAR */

.navbar.navbar-light {
	border: none;
	position: static;
	box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
}
.top-menu__link.navbar-light {
	color: #000;
}
.top-menu__link.navbar-light:hover,
.top-menu__link.navbar-light:focus,
span.top-menu__link.navbar-light {
	background-color: var(--accent);
	color: #fff;
}

/* SLIDER */

.home-slider {
	position: relative;
	height: 100vh;
	min-height: 580px;
	max-height: 720px;
	color: #fff;
	background-color: var(--dark);
	overflow-x: hidden;
}
.home-slider__slide {
	background-size: cover;
	display: flex;
	align-items: center;
	padding: 0 10px;
}
.home-slider__slide::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--dark);
	opacity: 0.15;
}
.home-slider__slide::after {
	content: '';
	position: absolute;
	top: 10px;
	right: 10px;
	left: 10px;
	bottom: 10px;
	z-index: 1;
	box-shadow: 0 0 0 30px var(--dark);
	border-radius: var(--radius);
}
.home-slider__slide .container {
	z-index: 2;
	position: relative;
}
[data-animate] {
	opacity: 0;
	transition: all 0.8s ease-out;
}
[data-animate='bottom'] {
	transform: translate3d(0, 15px, 0);
}
.home-slider__slide.swiper-slide-active [data-animate] {
	opacity: 1;
	transform: none;
}
.home-slider__slide.swiper-slide-active .home-slider__heading {
	transition-delay: 0.6s;
}
.home-slider__slide.swiper-slide-active .home-slider__text {
	transition-delay: 1s;
}
.home-slider__heading {
	font-size: 58px;
	line-height: 0.8;
	font-weight: 300;
	margin-bottom: 35px;
	transition-delay: 0.3s;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.home-slider__heading span {
	font-size: 16px;
	background-color: var(--accent);
	border-radius: var(--radius-style);
	padding: 6px 16px 7px;
	font-weight: 500;
}
.home-slider__text {
	max-width: 440px;
	font-size: var(--small-text);
	background-color: rgba(32, 35, 40, 0.9);
	padding: 15px 22px;
	border-radius: 0 calc(var(--radius) * 2);
}
.home-slider__bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	max-width: 440px;
	background-color: var(--dark);
	z-index: 1;
	right: 0;
	border-radius: calc(var(--radius) * 2) 0 0 0;
	padding: 45px 40px 45px 15px;
	font-size: 12px;
	color: #59606c;
}
.home-slider__pagination-wrapper {
	position: relative;
}
.home-slider__pagination {
	font-family: roboto-wt, sans-serif;
	font-weight: 300;
	bottom: inherit;
	margin-top: -10px;
}
.home-slider__pagination span {
	width: 1px;
	height: 28px;
	background-color: #353941;
	display: inline-block;
	vertical-align: middle;
	margin: -3px 8px 0;
}
.home-slider__pagination b {
	position: relative;
	font-size: 15px;
	color: #818b9d;
	font-weight: 300;
}
.home-slider__bottom .swiper-scrollbar-drag {
	height: 5px;
}
.home-slider__nav {
	position: relative;
}
.home-slider__prev,
.home-slider__next {
	outline: none;
}
.home-slider__prev::after,
.home-slider__next::after {
	font-size: 14px;
	color: #818b9d;
}

/* HOME CALLBACK */

.home-callback {
	background-color: var(--deep);
	padding: 50px 0;
	color: var(--light-bg);
	position: relative;
	z-index: 1;
}
.home-callback__header {
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 30px;
	position: relative;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.home-callback__header::after {
	content: '';
	width: 30%;
	height: 1px;
	background-color: var(--dark-div);
	position: absolute;
	left: 0;
	bottom: -15px;
}
.home-callback__content {
	display: flex;
	justify-content: space-between;
}
.home-callback__list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: var(--small-text);
}
.home-callback__list > * {
	margin-bottom: 7px;
}
.home-callback__list span {
	font-family: roboto-wt, sans-serif;
	font-weight: 700;
	color: #fff;
}
.home-callback__text-right {
	text-align: right;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.home-callback__text-right p {
	font-size: var(--small-text);
	line-height: 1.65;
}
.phone-big {
	font-size: 28px;
	line-height: 1;
	color: var(--text);
	font-weight: 300;
	font-family: roboto-wt, sans-serif;
	text-decoration: none;
}
.phone-big:hover {
	color: var(--text);
}
.home-callback__phone,
.home-callback__phone:hover {
	color: #fff;
}
.home-callback__button {
	margin-top: 20px;
}

/* MODAL */

.modal {
	position: relative;
	z-index: 1;
}
.modal__container {
	padding: 20px;
	width: 100%;
	max-width: 400px;
	border-radius: var(--radius);
}
.modal__title {
	text-align: center;
	width: 100%;
	color: #454545;
	font-weight: 700;
	text-transform: uppercase;
	margin: 10px 0 20px;
}
.modal__close {
	opacity: 0.4;
	transition: opacity var(--transition);
	position: relative;
	top: -5px;
}
.modal__close:hover {
	opacity: 1;
}
.modal__footer {
	padding: 10px 0;
	text-align: center;
}

/* FORM */

form input,
form textarea {
	width: 100%;
	font-size: 14px;
	margin: 5px 0;
	padding: 8px 14px;
	border-radius: var(--radius-style);
	border: 1px solid var(--light-div);
}

/* BEST WORKS */

.best-works {
	background-color: var(--light-bg);
}
.best-works__top {
	background-color: var(--dark);
	color: #fff;
	padding-top: 65px;
	padding-bottom: 170px;
}
.best-works__top-wrapper {
	display: flex;
	align-items: center;
}
.best-works__left,
.best-works__right {
	flex: 0 0 50%;
	margin-bottom: var(--gutter);
}
.best-works__left {
	font-size: var(--small-text);
	text-align: right;
	padding-right: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right: var(--dark-div) 1px solid;
}
.best-works__right {
	padding-left: 40px;
}
.best-works__bottom {
	margin-top: -130px;
	padding-bottom: 65px;
}
.best-works__item-wrapper {
	overflow: hidden;
	margin-bottom: var(--gutter);
}
.best-works__button-wrapper {
	text-align: center;
	margin-top: 25px;
}

/* SECTION TITLE */

.section-title__name {
	color: var(--accent);
	font-weight: 800;
	text-transform: uppercase;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section-title__name::before {
	content: '\\\\';
	margin-right: 5px;
}
.section-title__desc {
	line-height: 1.2;
	font-size: 29px;
	margin: 0;
	margin-top: 5px;
	font-weight: 800;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section-title__paragraph {
	font-size: var(--small-text);
	margin: 0;
	margin-bottom: 40px;
}
.section-title--dotted .section-title__desc {
	margin-bottom: 25px;
}
.section-title--dotted .section-title__desc::after {
	content: '';
	display: block;
	height: 5px;
	width: 40px;
	background-image: url(../images/interface/ellipse-accent.svg);
	background-repeat: repeat-x;
	margin-top: 28px;
}

/* BEST ITEM */

.best-item {
	background-color: #fff;
	display: block;
	height: 100%;
	text-decoration: none;
	border-bottom: 3px solid var(--light-disabled);
	transition: border var(--transition);
	color: var(--text);
}
.best-item__img-wrapper {
	position: relative;
}
.best-item__img-wrapper img {
	width: 100%;
}
.best-item__content {
	padding: 25px;
	color: var(--text);
}
.best-item__desc {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.28;
	position: relative;
	padding-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.best-item__desc-3 {
	position: relative;
	bottom: 15px;
}
.best-item__desc::before,
.best-item__desc::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 10px;
	background-image: url(../images/interface/ellipse-accent.svg);
	background-repeat: repeat-y;
	background-position: 3px 9.5px;
}
.best-item__desc::after {
	background-image: url(../images/interface/ellipse-gray.svg);
	transition: opacity 0.5s ease-out;
}
.best-item__desc-3::before,
.best-item__desc-3::after {
	top: 15px;
}
.best-item__desc-3::after {
	top: 15px;
}
.best-item:hover .best-item__desc {
	text-decoration: underline;
}
.best-item:hover .best-item__desc::after {
	opacity: 0;
}
.best-item__img-wrapper::before,
.best-item__img-wrapper::after {
	content: '';
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	background-image: url(../images/interface/triangle-white.svg);
	background-position: 25px 25px;
	background-repeat: no-repeat;
	opacity: 0;
	transition: opacity 0.5s ease-out, background-position 0.5s ease-out;
}
.best-item__img-wrapper::before {
	background-color: rgba(32, 35, 40, 0.25);
}
.best-item__img-wrapper::after {
	transform: rotate(180deg);
}
.best-item:hover {
	border-color: var(--accent);
	color: var(--text);
	text-decoration: none;
}
.best-item:hover .best-item__img-wrapper:before,
.best-item:hover .best-item__img-wrapper:after {
	opacity: 1;
	background-position: 20px 20px;
}

/* ADVANTAGES */

.advantages {
	padding: 80px 0 50px;
}
.advantages__item-wrapper {
	margin-bottom: var(--gutter);
	padding-top: 50px;
}
.advantages-slider-wrapper {
	text-align: center;
}
.advantages-slider {
	width: 100%;
	position: relative;
	display: inline-block;
	max-width: 440px;
}
.advantages-slider img {
	width: 100%;
	border-radius: var(--radius-style);
}
.advantages-slider::before {
	content: '';
	width: 50%;
	height: 50%;
	top: -15px;
	left: -15px;
	background-color: var(--dark);
	position: absolute;
	border-radius: var(--radius-style);
	opacity: 0.1;
}
.advantages-slider__caption {
	position: absolute;
	bottom: 60px;
	z-index: 1;
	color: #fff;
	right: -25px;
	padding: 2px 50px 2px 25px;
	border-radius: var(--radius-style);
	font-family: roboto-wt, sans-serif;
	font-weight: 700;
	font-size: 52px;
	overflow: hidden;
}
.advantages-slider__caption::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--dark);
	opacity: 0.9;
	z-index: -1;
}
.advantages-slider__caption span {
	font-size: 21px;
	font-family: raleway-wt, sans-serif;
	font-weight: 300;
	max-width: 100px;
	display: inline-block;
	line-height: 1.2;
	text-align: left;
	padding-left: 2px;
}

/* ITEM ADVANTAGES */

.item-advantages {
	height: 100%;
	position: relative;
}
.item-advantages__heading {
	text-decoration: none;
	color: var(--text);
	font-size: 19px;
	font-weight: 800;
	line-height: 1.2;
	border-bottom: 1px solid var(--light-div);
	display: flex;
	align-items: center;
	padding-bottom: var(--gutter);
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.item-advantages__heading:hover,
.item-advantages__heading:active {
	color: var(--text);
	text-decoration: underline;
}
.item-advantages__heading img {
	max-width: 70px;
	max-height: 48px;
	margin-right: 15px;
}
.item-advantages__desc {
	font-size: var(--small-text);
	margin: 0;
	margin-top: 15px;
}
.item-advantages__more {
	position: absolute;
	bottom: 0;
}

/* READ MORE LINK */

.read-more {
	font-size: 15px;
	font-weight: 800;
	text-decoration: underline;
	color: var(--text);
}
.read-more:hover {
	color: #555;
}

/* FOOTER */

footer {
	background-color: var(--deep);
	padding: 50px 0 100px;
}
.footer-logo {
	padding-bottom: 10px;
}
.footer-title__name {
	font-weight: 900;
	font-size: var(--middle-header);
	line-height: 21px;
	text-transform: uppercase;
	color: #ffffff;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	padding-bottom: 20px;
}
.footer-title__desc {
	font-weight: 400;
	font-size: 13px;
	line-height: 170%;
	color: rgba(255, 255, 255, 0.7);

	max-width: 350px;
}

.footer-menu__content-title {
	font-weight: 900;
	font-size: 18px;
	line-height: 21px;
	text-transform: uppercase;
	color: #ffffff;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer-menu__content-title::after {
	content: '';
	background-image: url('../images/interface/decoration.svg');
	background-repeat: no-repeat;
	display: block;
	position: relative;
	top: 20px;
	left: 0;
	width: 25px;
	height: 3px;
}
.footer-menu__content-list {
	list-style: none;
	padding: 0;
	padding-top: 50px;
}
.footer-menu__content-list-item a {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	text-decoration: none;
	opacity: 0.7;
	transition: opacity, var(--transition);
}
.footer-menu__content-list-item:hover a {
	opacity: 1;
}

.footer-menu__content-desc {
	padding-top: 45px;
	font-weight: 400;
	font-size: 13px;
	line-height: 170%;
	color: #fff;
	opacity: 0.7;
}

.footer-soc-icons {
	padding-top: 35px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.footer-social__item {
	border: 1px solid rgba(255, 255, 255, 0.25);
	border-radius: var(--radius-style);
	padding: 10px 15px;
	margin-left: 15px;
	transition: var(--transition);
	opacity: 0.7;
}
.footer-social__item:hover {
	border-color: var(--accent-dark);
	background-color: var(--accent);
	opacity: 1;
}

.to-top {
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 30px;
	right: 30px;

	border: none;
	background-color: var(--accent);
	background-image: url('../images/interface/arrow.svg');
	background-repeat: no-repeat;
	background-position: center;
	border-radius: var(--radius-style);
}

/* SERVICES */

.services {
	padding-top: 50px;
}
.services-title {
	text-align: center;
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.services-desc {
	font-weight: 400;
	font-size: 15px;
	line-height: 170%;
	text-align: center;
	color: var(--text-light);
	max-width: 550px;
	margin: auto;
}

.services-content {
	margin: 50px 0;
}
.services-content__card {
	display: flex;
	justify-content: space-between;
	transition: var(--transition);

	border: 1px solid var(--light-disabled);
	margin-bottom: 20px;
}
.services-content__card-content {
	max-width: 350px;
	padding: 40px 25px 0;
}
.services-content__card-title {
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	text-transform: uppercase;
	color: #000;
	transition: var(--transition);
}
.services-content__card:hover {
	border-color: var(--accent);
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.services-content__card:hover
	.services-content__card-content
	.services-content__card-title {
	color: var(--accent);
	text-decoration: underline;
}
.services-content__card-desc {
	font-weight: 400;
	font-size: var(--small-text);
	line-height: 170%;
	color: #7e7e7e;
}
.services-content__card-img {
	height: 254px;
}

.services__button {
	display: block;
	text-align: center;
	margin: auto;
	margin-bottom: 50px;
}

/* ASIDE BOX */

.aside-box__content {
	padding: 40px 0;
	background-color: var(--light-bg);

	border-radius: var(--radius-style);
}
.aside-box__title {
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 25px;
}

.aside-box__list {
	list-style: none;
	padding: 0;
}
.aside-box__list li a {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #666;
	text-decoration: none;
	padding: 20px 30px;
	display: block;
	transition: var(--transition);
}
.aside-box__list li span {
	background-color: var(--accent);
	display: block;
	padding: 10px 30px;

	color: #fff;
}
.aside-box__list li:hover a {
	background-color: var(--accent);
	color: #fff;
}

/* COMPANY ABOUT */

.company {
	margin: 70px 0;
}

.company__lending-title {
	font-weight: 800;
	font-size: 30px;
	line-height: 35px;
}
.company__lending-desc {
	font-weight: 400;
	font-size: 16px;
	line-height: 170%;

	padding-bottom: 35px;
}
.company-about__lending-desc span {
	color: var(--accent);
}
.company-about__lending-list {
	padding-bottom: 70px;
}
.company-about__lending-img {
	padding-bottom: 50px;
	width: 100%;
}

/* COMPANY BENEFITS */

.company-benefits__lending-title {
	text-align: center;
	margin-bottom: 50px;
}

.company-benefits__content-item {
	padding: 0 15px 40px;
	margin-right: 30px;
	margin-bottom: 40px;
	max-width: 300px;

	border-bottom: 1px solid var(--light-div);
}
.company-benefits__content-item {
	text-align: center;
}
.company-benefits__content-title {
	padding: 15px 0;

	font-weight: 800;
	font-size: 19px;
	line-height: 22px;

	transition: var(--transition);
}
.company-benefits__content-desc {
	font-weight: 400;
	font-size: 14px;
	line-height: 170%;
}
.company-benefits__content-item span {
	display: block;
	padding-top: 20px;

	font-weight: 800;
	font-size: 15px;
	line-height: 170%;
	text-decoration: underline;

	transition: var(--transition);
}
.company-benefits__content-item:hover span,
.company-benefits__content-item:hover .company-benefits__content-title {
	color: var(--accent);
}
.delivery {
	padding: 20px 0;
}

.row-benefits {
	justify-content: center;
}

/* COMPANY CALLBACK */

.company-callbakc-title {
	text-align: center;
}
.company-callback__desc {
	text-align: center;
	max-width: 550px;
	margin: auto;
	margin-bottom: 50px;
}

.company-callback__address {
	margin: 70px 0 0;
	padding: 70px 0;

	background-color: var(--dark);
}
.company-callback__address-title {
	font-weight: 800;
	font-size: 29px;
	line-height: 34px;
	text-align: center;
	color: #ffffff;
}
.company-callback__address-desc {
	font-weight: 400;
	font-size: 15px;
	line-height: 170%;
	color: #989da5;

	text-align: center;
	padding-top: 30px;
}
.company-callback__address-desc i {
	background-image: url('/images/interface/mapmarker.svg');
	background-repeat: no-repeat;

	position: relative;
	padding: 8px;
	top: 7px;
}
.company-callback__address-phone {
	font-family: roboto-wt, sans-serif;
	font-weight: 300;
	font-size: 28px;
	line-height: 165%;
	text-align: center;
	color: #ffffff;
	text-decoration: none;

	display: block;
	padding: 10px 0;
}
.company-callback__address-phone:hover,
.company-callback__address-phone:focus,
.company-callback__address-phone:active {
	color: #fff;
	text-decoration: none;
}

.map {
	width: 100%;
	height: 700px;
	padding: 50px 175px;
}

/* CATALOG */

.catalog {
	margin-bottom: 100px;
}

.catalog-title {
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;

	padding: 70px 0 25px;
	margin: 0;
}
.catalog-desc {
	font-weight: 400;
	font-size: 15px;
	line-height: 170%;
	text-align: center;
}

.catalog-content__item {
	text-align: center;
	text-decoration: none;
	max-height: 400px;

	margin-top: 70px;
}
.catalog-content__item-img {
	width: 100%;
}

.catalog__item-content {
	margin-top: 20px;
	position: relative;
	bottom: 201px;
	min-height: 120px;

	border: 1px solid var(--light-disabled);
}

.catalog__item-content-title {
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	color: #000;

	padding: 10px 15px;

	transition: var(--transition);
}
.catalog__item-content-desc {
	font-weight: 400;
	font-size: 14px;
	line-height: 170%;
	text-align: center;
	color: #000;
}

.catalog-content__item-img__content {
	opacity: 0;
	position: relative;
	bottom: 240px;
	margin: 15px;
	padding: 20px;

	background-color: var(--light-bg);
	border-radius: var(--radius-style);
	transition: var(--transition);
}
.catalog-content__item-img__content-title {
	font-weight: 600;
	font-size: 20px;
	line-height: 170%;
	text-align: center;
	color: #000;

	padding-bottom: 18px;
}
.catalog-content__item-img__content-desc {
	font-weight: 400;
	font-size: 14px;
	line-height: 170%;
	text-align: center;
	color: #000;

	padding-bottom: 18px;
}
.catalog-content__item-img__content span {
	font-weight: 800;
	font-size: 15px;
	line-height: 170%;
	text-align: center;
	text-decoration-line: underline;
	color: var(--dark-div);
}

.catalog-content__item:hover
	.catalog__item-content
	.catalog__item-content-title {
	color: var(--accent);
}
.catalog-content__item:hover .catalog-content__item-img__content {
	opacity: 1;
}

/* PRODUCT */

.product {
	margin-top: 50px;
}

.slider-product__img {
	width: 100%;
	height: 100%;
}

.product-slider-thumbs {
	padding-top: 10px;
}
.slider-product__thumbs-img {
	width: 100%;
	height: 100%;
	border: 3px solid var(--dark-header);
}
.swiper-thumbs:hover {
	cursor: pointer;
}

.product-content {
	margin: 70px 0;
}
.product-content__title {
	font-weight: 800;
	font-size: 30px;
	line-height: 35px;
}
.product-content__desc {
	font-weight: 400;
	font-size: 13px;
	line-height: 170%;

	padding-top: 50px;
}

.product-content__choice {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 40px;

	background-color: var(--light-bg);
	border-radius: var(--radius-style);
}
.product-choice__title {
	font-family: 'roboto-wt', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 17px;
	line-height: 260%;

	padding: 10px;
}
.product-choice__items {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}
.product-choice__item {
	padding: 20px;
	margin-right: 15px;

	border: none;
	border-radius: 100%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.product-choice__item-size {
	font-family: 'roboto-wt', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 170%;
	text-align: center;

	padding: 5px 15px;
	margin-right: 15px;

	border: none;
	border-radius: var(--radius-style);
	background-color: #fff;
}

.product-content__price {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}
.price {
	font-family: 'roboto-wt', sans-serif;
	font-weight: 900;
	font-size: 17px;
	line-height: 260%;
	text-align: center;

	padding: 0 46px;

	border-radius: var(--radius-style);
	background-color: var(--light-bg);
}
.price span {
	color: var(--accent);
}

.specifications-wrapper {
	margin-top: 70px;
	padding: 30px 0;

	background-color: var(--light-bg);
	border-radius: var(--radius-style);
}
.specifications-title {
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	text-transform: uppercase;
}
.specifications-list {
	list-style: none;
	padding: 0 30px;
}
.specifications-list li {
	font-weight: 500;
	font-size: 17px;
	line-height: 20px;
	color: #666666;

	padding-top: 20px;

	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}
.specifications-list li span i {
	display: block;
	padding: 5px;

	background-image: url('../images/interface/color.svg');
	background-repeat: no-repeat;
	background-size: contain;
}
.specifications-list li span i::after {
	content: '';
	display: block;
	position: relative;
	width: 20px;
	height: 20px;

	background-color: #fff;
	border-radius: 100%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.specifications-small {
	display: none;
}
