/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width: 1400px) {
	.col-lg-3.company-benefits-2 {
		display: none;
	}
}

/* lg <= Extra large (xl) */
@media (max-width: 1200px) {
	.top-menu__item {
		margin: 0;
	}
	.top-menu__link {
		padding: 7.5px 15px;
	}

	.advantages-slider__caption {
		right: var(--gutter);
	}

	.services-content__card-content {
		padding-top: 15px;
	}
	.services-content__card-desc {
		font-size: 11px;
	}
	.services-content__card-img {
		height: 206px;
	}

	.benefits-1 {
		display: block;
	}
	.benefits-3 {
		display: block;
	}

	.map {
		padding: 50px 100px;
	}

	/* CATALOG */

	.catalog-content__item-img__content {
		padding: 5px;
		margin: 7px;
		bottom: 185px;
	}
	.catalog-content__item-img__content-title {
		padding-bottom: 5px;
	}
	.catalog-content__item-img__content-desc {
		padding-bottom: 5px;
	}

	.catalog__item-content {
		bottom: 165px;
		padding: 5px;
	}
}

/* md <= Large (lg) */
@media (max-width: 992px) {
	.top-menu {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		background-color: var(--dark);
		right: 35px;
		top: -7px;
		border-radius: var(--radius);
		overflow: hidden;
	}
	.top-menu__item {
		display: block;
	}
	.top-menu__link {
		display: block;
		text-align: left;
		padding: 14px 35px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.05);
		color: rgba(255, 255, 255, 0.5);
		border-radius: 0;
		line-height: 1.5;
		font-size: 12px;
		text-transform: uppercase;
	}
	.top-menu__link.navbar-light {
		color: rgba(255, 255, 255, 0.5);
	}
	.top-menu__link:hover,
	.top-menu__link:focus,
	span.top-menu__link {
		color: rgba(255, 255, 255, 0.75);
		background-color: rgba(196, 196, 196, 0.075);
	}
	.menu-toggle {
		display: block;
	}

	.home-callback__text-right {
		display: block;
	}
	.home-callback__list,
	.home-callback__header {
		display: none;
	}
	.home-callback__text-right {
		text-align: center;
	}
	.home-callback__phone {
		display: block;
	}

	.best-item__desc {
		font-size: 16px;
	}
	.best-works__top {
		padding-top: 40px;
		padding-bottom: 155px;
	}

	.item-advantages__more,
	.item-advantages__desc {
		display: none;
	}
	.item-advantages__heading {
		font-size: 16px;
		border: none;
	}
	.item-advantages__heading img {
		margin-right: 10px;
	}
	.advantages__item-wrapper {
		padding-top: 0;
	}

	.services-content__card-img {
		width: 50%;
	}

	.services-content__card-content {
		padding-top: 40px;
	}
	.services-content__card-desc {
		font-size: var(--small-text);
	}
	.services-content__card-img {
		height: 254px;
	}

	/* CATALOG CATEGORY-LIST */

	.filter {
		display: inline-block;
	}
	.aside-box__company-about {
		display: none;
	}
}

/* sm <= Medium (md) */
@media (max-width: 768px) {
	.best-works__left {
		display: none;
	}
	.best-works__right {
		flex: 1;
		margin: 0;
		padding: 0;
	}
	.best-item__desc {
		font-size: 20px;
	}
	.best-works__button-wrapper {
		margin-top: 15px;
	}

	.advantages-slider {
		display: none;
	}
	.advantages {
		padding: 40px 0 30px;
	}
	.item-advantages__more,
	.item-advantages__desc {
		display: block;
	}
	.item-advantages__heading {
		font-size: 19px;
	}
	.item-advantages {
		padding: var(--gutter);
		background-color: var(--light-bg);
		padding: 30px 20px 55px;
	}
	.item-advantages__more {
		bottom: 20px;
	}
	.section-title__paragraph {
		margin-bottom: 30px;
	}

	footer {
		text-align: center;
	}
	.footer-title__desc {
		max-width: none;
	}
	.footer-menu__content-title::after {
		left: 46%;
	}
	.footer-item {
		padding-bottom: 25px;
	}

	.map {
		padding: 50px 50px;
	}

	/* CATALOG */

	.catalog-content__item {
		margin-top: 200px;
	}
	.catalog-content__item:first-child {
		margin-top: 50px;
	}
	.catalog-content__item-img {
		width: 85%;
	}
	.catalog-content__item-img__content {
		margin: 55px;
		bottom: 300px;
	}
	.catalog__item-content {
		max-width: 85%;
		margin: auto;
		bottom: 200px;
	}

	.catalog-content__item:last-child {
		margin-bottom: 70px;
	}

	/* PRODUCT */
	.specifications {
		display: none;
	}
	.specifications-small {
		display: block;
	}

	.aside-box__company-about-small {
		right: 110px;
	}
}

/* xs <= Small (sm) */
@media (max-width: 576px) {
	.home-slider__heading {
		font-size: 40px;
	}

	.services-content__card-content {
		padding: 20px 10px 0;
		align-items: center;
		display: flex;
	}
	.services-content__card-title {
		max-width: 150px;
		font-size: 12px;
	}
	.services-content__card-desc {
		display: none;
	}
	.services-content__card-img {
		height: 100%;
	}
	.menu-toggle {
		padding-right: 100px;
	}

	/* CATALOG */
	.catalog-content__item {
		margin-top: 250px;
	}
	.catalog-content__item:first-child {
		margin-top: 50px;
	}
	.catalog-content__item-img {
		width: 85%;
	}
	.catalog-content__item-img__content {
		margin: 55px;
		bottom: 350px;
	}
	.catalog__item-content {
		max-width: 85%;
		margin: auto;
		bottom: 200px;
	}

	.filter {
		left: 10%;
	}
}
@media (max-width: 450px) {
	.catalog-content__item {
		margin-top: 150px;
	}
	.catalog-content__item-img__content {
		bottom: 300px;
	}

	.aside-box__company-about-small {
		right: 80px;
	}
}
@media (max-width: 385px) {
	.catalog-content__item {
		margin-top: 75px;
	}
	.catalog-content__item-img__content {
		margin: 95px 40px;
		padding: 5px;
	}
	.catalog__item-content {
		bottom: 300px;
	}

	.filter {
		left: 5%;
	}
	.aside-box__company-about-small {
		right: 30px;
	}
}

/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width: 0) {
}

/* Small (sm) */
@media (min-width: 576px) {
}

/* Medium (md) */
@media (min-width: 768px) {
}

/* Large (lg) */
@media (min-width: 992px) {
}

/* Extra large (xl) */
@media (min-width: 1200px) {
}

/* Extra extra large (xxl) */
@media (min-width: 1400px) {
	.benefits-1 {
		display: none;
	}
	.benefits-3 {
		display: none;
	}
}
